<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <header class="header">
      <a class="header__toggle activate" id="menu">☰</a>
    </header>

    <nav id="drawer" class="nav">
      <h2 class="nav__title">Kulinaria</h2>
      <div class="line"></div>

      <ul class="nav__list">
        <li class="nav__item">
          <a href="#">home</a>
        </li>
        <li class="nav__item">
          <a href="#">favorite</a>
        </li>
        <li class="nav__item">
          <a href="">about us</a>
        </li>
      </ul>
    </nav>

    <div class="hero">
      <div class="hero__content">
        <h1 class="hero__content--title">Kulinaria</h1>
        <p class="hero__content--text">a place where you found cheerfulness</p>
        <button class="hero__content--btn">Read More</button>
      </div>
    </div>

    <main></main>
  </body>
</html>
