<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Kulinaria, tempat dimana restoran terbaik dikumpulkan"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="./public/icon/KulinariaFavicon.png">
    <title>Kulinaria</title>
  </head>
  <body>
    <div id="page-container">
      <div id="content-wrap">
        <a href="#maincontent" class="skip-link">Menuju ke konten</a>
        
        <header class="header">
          <button class="header__toggle activate" id="menu">☰</button>
        </header>
        
        <drawer-bar></drawer-bar>
        <main id="maincontent"></main>
        <div class="preloader"></div>

      </div>
  
      <footer-bar></footer-bar>
    </div>
    
  </body>
</html>
